## Load the 7 day forecast from DarkSky.Net into Pandas!

In this example you will go back to https://api.darksky.net and use your API key to get the current weather forecast for:

Syrcause, NY `(lat=43.0481221, lng=-76.1474244)`

In the forecast output, find the daily 7 day forecast (it's the current conditions + 7 days out == 8 days total)

Extract the forecast data and load it into Pandas, then display the Time of the forecast, and high and low temperatures:

**HINT**: To get the times to show up in a human-readable format, you must convert the DarkSky API time (which is in unix timestamp format) to a Pandas Timestamp date/time format. The `pd.to_datetime()` function can help you:

```
time = 1489402800 # this the time format Darksky returns
readable_time = pd.to_datetime(time, unit='s') ## s stands for unix timestamp format
readable_time

Timestamp('2017-03-13 11:00:00')
```

Just replace the `['time']` column in the `DataFrame` with the new version.

In [ ]:
# Todo Write Plan Here

In [ ]:
# Todo write code here

In [3]:
import pandas as pd
import requests
import json
import warnings
warnings.filterwarnings('ignore')


key = "4db6ca5d57392ec1367d958977dd234b"
latitude = "43.048122"
longtitude = "-76.147424"
url = "https://api.darksky.net/forecast/%s/%s,%s" %(key, latitude, longtitude)
response = requests.get(url)
data = response.json()


##print (json.dumps(data['daily']['data'], indent=2))
df = pd.DataFrame(data['daily']['data'])
df = df[['time','temperatureMin','temperatureMax']]


time = df['time']  
readable_time = pd.to_datetime(time, unit='s')
df['time'] = readable_time

df

                 time  temperatureMin  temperatureMax
0 2017-04-20 04:00:00           49.18           59.00
1 2017-04-21 04:00:00           48.92           65.64
2 2017-04-22 04:00:00           42.19           53.30
3 2017-04-23 04:00:00           37.81           64.53
4 2017-04-24 04:00:00           35.38           66.21
5 2017-04-25 04:00:00           44.34           71.07
6 2017-04-26 04:00:00           53.48           78.06
7 2017-04-27 04:00:00           54.74           79.71

In [19]:
# Here's my output from when I ran the solution, to give you an example of what I expect

                 time  temperatureMin  temperatureMax
0 2017-03-13 04:00:00            8.74           25.01
1 2017-03-14 04:00:00           17.85           25.42
2 2017-03-15 04:00:00           15.93           22.90
3 2017-03-16 04:00:00           17.23           29.19
4 2017-03-17 04:00:00           17.25           36.15
5 2017-03-18 04:00:00           26.74           38.07
6 2017-03-19 04:00:00           25.69           32.82
7 2017-03-20 04:00:00           13.76           37.08